<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380573186380-450htpcl0d288pjd5j5l83v0ckouc3mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380573186380-450htpcl0d288pjd5j5l83v0ckouc3mn</string>
	<key>API_KEY</key>
	<string>AIzaSyDE9gI-zNuRI0L10ndVlzFKZn3jKPJLbe0</string>
	<key>GCM_SENDER_ID</key>
	<string>380573186380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>homework.VK</string>
	<key>PROJECT_ID</key>
	<string>vk-diplom</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-diplom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380573186380:ios:144b13e31ec2d17b2d37e9</string>
</dict>
</plist>